.nav-custom{
    position:absolute;
    width: -webkit-fill-available;
}
.navlink-custom{
    align-self: center;
}

.icon-custom{
    font-size: 27px;
    cursor: pointer;
}

.card-title-custom{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-text-custom{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
}

.modal-dialog-custom{
    max-width: 700px;
}

.i-custom{
    font-size: 300px;
}

.pcarrito{
    margin-bottom: 0;
}


.divContainerSubtotal-custom{
    background-color: #dee2e6;
    border-radius: 7px;
    margin: 20px 5px;
    padding: 20px 0;
}

.footer{
    height: 200px;
    background-color: #343a40;
    color:#fff;
}

.nav-link-footer{
    color:white;
    cursor: pointer;
}

.nav-link-footer:link, .nav-link-footer:visited, .nav-link-footer:active {
    text-decoration:none;
    color:white;
}

.nav-link-footer:hover{
    color: #dee2e6;
}

.linkredes{
    height: 40px;
}